@mixin types() {
    &__size {
        &--xx-small {
            font-size: .625rem;
        }

        &--x-small {
            font-size: .775rem;
        }

        &--small {
            font-size: .85rem;
        }

        &--medium {
            font-size: 1rem;
        }
    
        &--large {
            font-size: 1.5rem;
        }
    
        &--x-large {
            font-size: 1.75rem;
            line-height: 2rem;
        }

        &--xx-large {
            font-size: 2.5rem;
        }
    }
}