@mixin types() {
    &__weight {
        &--thin {
            font-weight: 300;
        }

        &--regular {
            font-weight: 400;
        }

        &--medium {
            font-weight: 500;
        }
    
        &--bold {
            font-weight: 600;
        }
    
        &--bolder {
            font-weight: 700;
        }
    }
}