<form [formGroup]="remindForm">
    <span class="rapid-text rapid-text__size--x-large rapid-text__weight--bold"
        >Forgot password?</span
    >
    <p class="rapid-text rapid-text__size--small rapid-margin__top--x-medium">
        Enter the email address connected to your account and we will send you
        an email with reset link
    </p>
    <div class="rapid-margin__top--x-large">
        <rapid-input
            formControlName="email"
            [control]="remindForm.controls['email']"
            class="rapid-margin__top--large"
            [label]="'Email'"
            [placeholder]="'Enter your email'"
        ></rapid-input>
    </div>
    <div class="rapid-flex rapid-flex-gap--small rapid-margin__top--small">
        <rapid-button
            [disabled]="!remindForm.valid"
            (click)="submitForgotPassword()"
            class="rapid-button__full-width rapid-margin__vertical--large"
            >Send email</rapid-button
        >
        <rapid-button
            routerLink="/auth/login"
            type="outline"
            class="rapid-button__full-width rapid-margin__vertical--large"
            >Go back</rapid-button
        >
    </div>
    <div
        class="rapid-margin__top--medium rapid-flex--column rapid-text__size--x-small rapid-flex-gap--small"
    >
        <span class="rapid-flex--align-self"
            >Don't have an account?
            <a routerLink="/auth/signup">Sign Up</a></span
        >
    </div>
</form>
