:root {
    --primary-action: #3742FA;
    --primary-action-deep: #333CE9;
    --primary-white: #FFFFFF;
    --disabled-background: #CED6E0;
    --disabled-deep: #747D8C;
    --destructive: #FF4757;
    --destructive-deep: #E4404E;
    --success: #2ED573;
    --success-deep: #27AD5F;
    --outline-clicked: #F1F2F6;
    --light-background-color: #F1F2F6;
    --card-border: #DFE4EA;
    --border-grey: #A4B0BE;
    --border-grey-deep: #2F3542;
}

body {
    background-color: var(--light-background-color);
}