@use '../shadows/shadows' as shadow;
@use './cardfooter';
@use './cardimage';
@use '../../layout/media-queries/breakpoints' as breakpoints;

rapid-card {
    min-width: min-content;
}

.rapid-card {
    @include breakpoints.breakpoint(sm) {
        justify-content: center;

        & section {
            height: 100%;
        }
    }

    &__login {
        &--animation {
            //position: relative;
        }

        & > .rapid-card {
            border-radius: 10px 0 0 10px;

            @include breakpoints.breakpoint(sm) {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__third-party {
        position: absolute;
        top: 0;
        right: -4.5rem;
        width: 4.5rem;
        height: 100%;
        border-radius: 0 10px 10px 0;
        background-color: var(--border-grey-deep);

        @include breakpoints.breakpoint(sm) {
            position: absolute;
            bottom: 0rem;
            height: 3.5rem;
            width: 100%;
            left: 0;
            top: revert;
            border-radius: 0;
        }

        @include shadow.generic(cardnormal);

        &__service {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--disabled-background);
            aspect-ratio: 1 / 1;
            width: 100%;
            transition: color .3s ease-in-out;

            @include breakpoints.breakpoint(sm) {
                height: 100%;
                width: 3.5rem;
                
                &:hover {
                    cursor: pointer;
                    
                    background-color: var(--dark-hover-overlay);
                    color: var(--primary-white);
                }

                &:hover::before {
                    position: absolute;
                    left: 0;
                    content: '';
                    width: .3rem;
                    height: 100%;
                    background-color: var(--primary-action-mat);
                }
            }

            &:first-of-type:hover {
                border-radius: 0 10px 0 0;
            }

            &:hover {
                cursor: pointer;
                background-color: var(--dark-hover-overlay);
                color: var(--primary-white);
            
                &::before {
                    position: absolute;
                    left: 0;
                    content: '';
                    width: .3rem;
                    height: 100%;
                    background-color: var(--primary-action-mat);
                }
            }
        }
    }

    display: flex;
    position: relative;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid var(--card-border);
    border-radius: 10px;
    transition: box-shadow .5s ease;
    padding: 1rem 1.5rem;
    min-width: 0;
    background-color: var(--primary-white);

    @include shadow.generic(cardnormal);

    &:hover {
        @include shadow.generic(cardhover);

        & + .rapid-card__third-party {
            @include shadow.generic(cardhover);
        }
    }

    & rapid-card-header rapid-card-header-news {
        width: 100%;

        & .rapid-card__header {
            display: flex;
            justify-content: space-between;
            gap: 1.5rem;

            & rapid-cardheader-icon {
                height: 100%;
                aspect-ratio: 1 / 1;
            }

            &__icon {
                &-item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    aspect-ratio : 1 / 1;
                    height: 100%;
                    border: 1px solid var(--border-grey);
                    border-radius: 8px;
                    color: var(--disabled-deep);
                }

                &--container {
                    min-width: 0;
                    display: flex;
                    flex: 1;
                    align-items: center;
                    gap: .825rem;
                }
            }

            &__title {
                &--container {
                    min-width: 0;
                    max-width: 10rem;
                }

                font-size: .825rem;
                font-weight: 600;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            &__subtitle {
                display: flex;
                gap: .3rem;
                font-size: .725rem;
                font-weight: 400;
                white-space: nowrap;
                overflow: hidden;

                &--handler {
                    color: var(--disabled-background);
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }

            &__fav {
                display: flex;
                gap: .725rem;
                justify-content: space-between;
                align-items: center;
                min-width: 2rem;
                height: 100%;
                color: var(--disabled-background);

                &--item {
                    transition: color .3s ease-in-out;

                    &:hover {
                        color: var(--disabled-deep);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}