.rapid-input {
    position: relative;
    width: 100%;
    box-sizing: border-box;

    &__clear-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1rem;
        font-size: .725rem;
        color: var(--disabled-background);
        transition: .3s color ease;

        &:hover {
            cursor: pointer;
            color: var(--disabled-deep);
        }
    }

    &__label {
        position: absolute;
        top: 0;
        transform: translateY(-50%);
        left: calc(1rem - .3rem);
        font-size: .725rem;
        padding: 0 .3rem;
        background-color: var(--primary-white);
    }

    & input {
        all: unset;
        box-sizing: border-box;
        border: 1px solid var(--disabled-deep);
        border-radius: .5rem;
        min-height: 2.65rem;
        width: 100%;
        padding: 0 1rem;
        font-size: .725rem;
        transition: border .1s ease;

        &:hover {
            border: 1px solid var(--border-grey-deep);
        }

        &:focus {
            border: 1px solid var(--border-grey-deep);
            border-color: var(--primary-action-mat);
        }

        &:active {
            border: 1px solid var(--border-grey-deep);
        }

        &:not(:focus):hover::placeholder {
            transition: color .2s ease;
            color: var(--border-grey-deep);
        }

        &:not(:focus)::placeholder {
            transition: color .2s ease;
        }
    
        &::placeholder {
            color: var(--border-grey);
        }

        &:focus::placeholder {
            color: transparent;
        }

        &:disabled {
            user-select: none;
            pointer-events: none;
            background-color: var(--disabled-background);
            color: var(--disabled-deep);
            border: 1px solid var(--border-grey);

            & ~ label {
                opacity: 0;
            }
        }
    }
}