@use '../shadows/shadows' as shadows;

.rapid-select {
    position: relative;
    width: 100%;
    height: fit-content;

    &__icon {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        font-size: .65rem;
        transition: transform .3s ease;

        &:hover {
            cursor: pointer;
            pointer-events: none;
        }

        &--active {
            transform: translateY(-50%) rotate(180deg);
        }
    }

    &__option-container {
        position: absolute;
        width: 100%;
        z-index: 1;
        margin-top: .5rem;
        border-radius: .5rem;
        border: 1px solid var(--border-grey);
        background-color: var(--primary-white);

        @include shadows.generic(cardnormal);

        &__item {
            border-radius: .5rem;
            padding: 1rem 1rem;
            display: flex;
            align-items: center;
            font-size: .8rem;
            min-height: 2rem;
            background-color: var(--primary-white);
            transition: background-color .3s ease-in-out;

            &:first-of-type {
                border-radius: .5rem .5rem 0 0;
            }

            &:last-of-type {
                border-radius: 0 0 .5rem .5rem;
            }

            &:hover {
                cursor: pointer;
                background-color: var(--light-background-color);
            }
        }
    }

    &__display {
        all: unset;
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        box-sizing: border-box;
        min-height: 2.65rem;
        padding: 0 1rem;
        font-size: .8rem;
        border: 1px solid var(--disabled-deep);
        border-radius: .5rem;
        color: var(--disabled-deep);
        transition: border .3s ease,
                    background-color .3s ease,
                    outline .1s,
                    color .3s ease;

        &:hover:not(.rapid-select__display--active) {
            cursor: pointer;
            border: 1px solid var(--border-grey-deep);
            color: var(--border-grey-deep);
        }

        &--active {
            border-color: var(--primary-action-mat);
            background-color: var(--primary-white);
            outline: 3px solid rgba(55, 66, 255, .25);
        }
    }

    &__label {
        position: absolute;
        z-index: 1;
        top: 0;
        transform: translateY(-50%);
        left: calc(1rem - .3rem);
        font-size: .725rem;
        font-weight: 500;
        padding: 0 .3rem;
        background-color: var(--primary-white);
    }
}