<h3>Buttons section</h3>
<h5>A section with buttons</h5>
<div class="container">
  <rapid-button [disabled]="true">I am disabled</rapid-button>
  <rapid-button (click)="setInlineLoading()" [isLoading]="inlineLoading">
    Loading button
    <rapid-icon [name]="'right-to-bracket'" [type]="'solid'"></rapid-icon>
  </rapid-button>
  <rapid-button
    (click)="setLoading()"
    [isLoading]="loading"
    [loadingType]="'inline-load'"
  >
    <rapid-icon [name]="'circle-plus'" [type]="'solid'"></rapid-icon>
    Inline loading
  </rapid-button>
  <rapid-button [type]="'simple'" [isLoading]="loadingAll"
    >Simple button</rapid-button
  >
</div>

<h3>Full width section</h3>
<h5>A section with buttons that spans accross full-width</h5>
<div class="container">
  <rapid-button
    [isLoading]="loadingAll"
    [loadingType]="'inline-load'"
    class="rapid-button__full-width"
  >
    Forgot password
  </rapid-button>
  <rapid-button
    [type]="'destructive'"
    [isLoading]="loadingAll"
    class="rapid-button__full-width"
  >
    Delete me
  </rapid-button>
</div>

<h3>Default, outline, destructive and success buttons</h3>
<h5>A section of buttons that are of different types</h5>
<div class="container">
  <rapid-button [isLoading]="loadingAll"> Forgot password </rapid-button>
  <rapid-button [isLoading]="loadingAll" [type]="'outline'" [disabled]="true"
    ><rapid-icon [name]="'inbox'" [type]="'regular'"></rapid-icon>Outline
    disabled</rapid-button
  >
  <rapid-button [isLoading]="loadingAll" [type]="'outline'"
    ><rapid-icon [name]="'inbox'" [type]="'regular'"></rapid-icon
    >Outline</rapid-button
  >
  <rapid-button [isLoading]="loadingAll" [type]="'destructive'">
    <rapid-icon [name]="'inbox'" [type]="'regular'"></rapid-icon>
    Delete somehting
  </rapid-button>
  <rapid-button
    [type]="'success'"
    [isLoading]="loadingAll"
    [loadingType]="'inline-load'"
  >
    Success loading
  </rapid-button>
  <rapid-button [type]="'success'" [loadingType]="'inline-load'">
    <rapid-icon [name]="'check'" [type]="'regular'"></rapid-icon>
    Success
  </rapid-button>
</div>

<h3>Cards</h3>
<h5>A section of cards</h5>
<div class="container">
  <rapid-card>
    <rapid-card-header>
      <rapid-card-header-news
        [title]="'See Top 10 Managers'"
      ></rapid-card-header-news>
    </rapid-card-header>
    <rapid-card-footer>
      <rapid-button [isLoading]="false" class="rapid-button__full-width"
        >See all managers</rapid-button
      >
      <rapid-icon-button [disabled]="false" [isLoading]="true">
        <rapid-icon [name]="'bars'" [type]="'regular'"></rapid-icon>
      </rapid-icon-button>
    </rapid-card-footer>
  </rapid-card>
  <rapid-card>
    <rapid-card-header>
      <rapid-card-header-news
        [title]="'Another loading title'"
      ></rapid-card-header-news>
    </rapid-card-header>
    <rapid-card-footer>
      <rapid-button [isLoading]="loadingAll" class="rapid-button__full-width"
        >Loading</rapid-button
      >
      <rapid-icon-button [disabled]="true">
        <rapid-icon [name]="'inbox'" [type]="'regular'"></rapid-icon>
      </rapid-icon-button>
    </rapid-card-footer>
  </rapid-card>
  <rapid-card>
    <div class="rapid-card-image__container">
        <div class="rapid-card-image__img">
            <div class="rapid-card-image__img--element">

            </div>
        </div>
        <div class="rapid-card-image__text-container">
            <div class="rapid-text__weight--bold rapid-text__size--small rapid-card-image__text-container--header">
                Current candidates
            </div>
            <div class="rapid-text__weight--regular rapid-text__size--x-small rapid-card-image__text-container--subtext">
                Show current candidature, explore the candidates. Find out accept and contact them as well as schedule meetings
            </div>
            <div class="rapid-card-image__text-container__footer">
                <a href="#" class="rapid-text__size--x-small">Read more</a> 
            </div>
        </div>
    </div>
  </rapid-card>
</div>
