.rapid-padding {
    display: block;

    &__vertical {
        &--x-small {
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
        }

        &--small {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }

        &--medium {
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;          
        }

        &--large {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        &--x-large {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }

        &--xx-large {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
    }

    &__horizontal {
        &--x-small {
            padding-left: 0.25rem;
            padding-right: 0.25rem;
        }

        &--small {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }

        &--medium {
            padding-left: 0.75rem;
            padding-right: 0.75rem;
        }

        &--large {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        &--x-large {
            padding-left: 1.25rem;
            padding-right: 1.25rem;
        }
    }
}