@use '../../layout//media-queries/breakpoints' as breakpoints;

.rapid-padding {
    display: block;

    &__vertical {
        &--x-small {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;

            @include breakpoints.breakpoint(sm) {
                padding-top: 0.25rem;
                padding-bottom: 0.25rem;
            }
        }

        &--small {
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;

            @include breakpoints.breakpoint(sm) {
                padding-top: 0.375rem;
                padding-bottom: 0.375rem;
            }
        }

        &--medium {
            padding-top: 1rem;
            padding-bottom: 1rem;     
            
            @include breakpoints.breakpoint(sm) {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
            }
        }

        &--x-medium {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;      
            
            @include breakpoints.breakpoint(sm) {
                padding-top: 0.725rem;
                padding-bottom: 0.725rem;
            }
        }

        &--large {
            padding-top: 1.75rem;
            padding-bottom: 1.75rem;

            @include breakpoints.breakpoint(sm) {
                padding-top: 0.85rem;
                padding-bottom: 0.85rem;
            }
        }

        &--x-large {
            padding-top: 2.25rem;
            padding-bottom: 2.25rem;

            @include breakpoints.breakpoint(sm) {
                padding-top: 1.125rem;
                padding-bottom: 1.125rem;
            }
        }

        &--xx-large {
            padding-top: 3rem;
            padding-bottom: 3rem;

            @include breakpoints.breakpoint(sm) {
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
            }
        }
    }

    &__horizontal {
        &--x-small {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }

        &--small {
            padding-left: 0.75rem;
            padding-right: 0.75rem;
        }

        &--medium {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        &--x-medium {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        &--large {
            padding-left: 1.75rem;
            padding-right: 1.75rem;
        }

        &--x-large {
            padding-left: 2.25rem;
            padding-right: 2.25rem;
        }

        &--xx-large {
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }
}