@use '../../common/shadows/shadows' as shadow;

.rapid-recent-header {
    display: flex;
    align-items: center;
    height: 12rem;
    width: 100%;
    padding: 0 2rem;
    gap: 2rem;

    &__item {
        height: 8rem;
        width: 14rem;
        border-radius: .75rem;
        transition: transform .2s ease-in-out,
                    box-shadow .3s ease;

        @include shadow.generic(cardnormal);

        &:hover {
            cursor: pointer;
            transform: scale(1.05);
            @include shadow.generic(cardhover);

            > .rapid-recent-header__item__content > .rapid-recent-header__item__content__description {
                transform: translateY(.75rem);
            }

            > .rapid-recent-header__item__content > .rapid-recent-header__item__content__title {
                transform: translateY(-.45rem);
            }

            > .rapid-recent-header__item__content > .rapid-recent-header__item__content__subtitle {
                display: block;
                max-height: 0;
                overflow: visible;
                transform: translateY(.45rem);
            }
        }

        &__content {
            display: flex;
            position: relative;
            flex-direction: column;
            padding: 1.75rem;
            width: 100%;
            height: 100%;
            color: var(--primary-white);
            font-size: .9rem;
            font-weight: 600;
            border-radius: .75rem;
            background-position: center;
            background-size: cover;
            background-color: var(--disabled-deep);
            background-blend-mode: multiply;

            &__description {
                margin-top: 1rem;
                font-weight: 400;
                font-size: .7rem;
                line-height: 1.15rem;
                display: -webkit-box;
                max-width: 400px;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                transition: transform .3s ease;
            }

            &__subtitle {
                font-size: .725rem;
                font-weight: 500;
                display: none;
                transition: translate 3s ease;
            }

            &__title {
                transition: transform .3s ease;
            }
        }
    }
}