@use '../shadows/shadows' as shadow;
@use './animations';

button {
    background: none;

    & .rapid-button {
        &__text {
            font-size: .750rem;

            &--slide {
                transform: translateX(16px);
                animation: text-slide 1s 1;
                font-size: .750rem;
            
                &-stop {
                    animation: text-slide-back 1s;
                }
            }
        }

        &__spinner {
            position: absolute;
            visibility: hidden;
            opacity: 0;

            &--loading {
                left: -1.5rem;
                position: absolute;
                opacity: 1;
                animation: spinner-slide 1s;
            }

            &--loading-stop {
                left: -1.5rem;
                position: absolute;
                animation: spinner-slide-back 1s;
            }
        }
    }

    &.rapid-button {
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .4rem;
        padding: .750rem 3rem;
        background-color: var(--primary-action);
        color: var(--primary-white);
        border-radius: 5px;
        border: none;
        font-size: .750rem;
        transition: transform .3s ease-in-out, 
                    background-color .3s ease-in-out,
                    outline .1s;

        @include shadow.generic(normal);

        &:hover {
            cursor: pointer;

            &:not(:focus):not(:disabled) {
                transform: translateY(-.125rem);
                @include shadow.generic(hover);
            }
        }

        &:focus:not(:disabled) {
            outline: 3px solid rgba(55, 66, 255, .25);
        }

        &:active:not(:disabled) {
            background-color: var(--primary-action-deep);
        }

        &:disabled {
            background-color: var(--disabled-background);
            color: var(--disabled-deep);
            cursor: auto;
        }

        &--inline-load {
            font-weight: 500;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .4rem;
            padding: .750rem 3rem;
            background-color: var(--primary-action);
            color: var(--primary-white);
            border-radius: 5px;
            border: none;
            font-size: .750rem;
            transition: transform .3s ease-in-out, 
                        background-color .3s ease-in-out,
                        outline .1s;

            @include shadow.generic(normal);
            
            &:hover {
                cursor: pointer;
                
                &:not(:focus):not(:disabled) {
                    transform: translateY(-.125rem);
                    @include shadow.generic(hover);
                }
            }

            & .rapid-button {
                &__text {
                    font-size: .750rem;
                    visibility: visible;
        
                    &--slide {
                        transform: translateX(0);
                        visibility: hidden;
                        animation: text-slide-inline-load .5s 1;
                    
                        &-stop {
                            animation: text-slide-inline-load-back .8s;
                        }
                    }
                }

                &__spinner {
                    position: absolute;
                    opacity: 1;
        
                    &--loading {
                        left: 50%;
                        transform: translateX(-50%);
                        visibility: visible;
                        opacity: 1;
                        position: absolute;
                        animation: spinner-inline-slide 1s;
                    }
        
                    &--loading-stop {
                        position: absolute;
                        visibility: visible;
                        opacity: 1;
                        left: 50%;
                        transform: translateX(-50%);
                        animation: spinner-inline-slide-back 1s;
                    }
                }
            }
        }

        &--simple {
            font-weight: 400;
            background: none;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .4rem;
            padding: .750rem .3rem;
            border: none;
            color: var(--primary-action);

            &:hover {
                &:not(:focus):not(:disabled) {
                    transform: translateY(0);
                }

                cursor: pointer;
                text-decoration: underline;
            }

            &:focus:not(:disabled) {
                background: none;
                text-decoration: underline;
                outline: none;
            }

            &:active:not(:disabled) {
                background: none;
                outline: none;
            }
        }
    }
}