@use '../shadows/shadows' as shadow;

button {
    background: none;

    & .rapid-button__text {
        font-size: .750rem;

        &--slide {
            animation: text-slide 1s 1;
        }
    }

    &.rapid-button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .3rem;
        padding: .750rem 1.2rem;
        background-color: var(--primary-action);
        color: var(--primary-white);
        border-radius: 5px;
        border: none;
        font-size: .750rem;
        transition: transform .3s ease-in-out, 
                    background-color .3s ease-in-out,
                    outline .1s;

        @include shadow.generic(normal);

        &:hover {
            cursor: pointer;

            &:not(:focus):not(:disabled) {
                transform: translateY(-.125rem);
                @include shadow.generic(hover);
            }
        }

        &:focus:not(:disabled) {
            outline: 3px solid rgba(55, 66, 255, .25);
            animation: button-jump .3s 1;
        }

        &:active:not(:disabled) {
            background-color: var(--primary-action-deep);
            animation: button-jump .3s 1;
        }

        &:disabled {
            background-color: var(--disabled-background);
            color: var(--disabled-deep);
        }

        &--simple {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .4rem;
            padding: .750rem .3rem;
            border: none;
            color: var(--primary-action);

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }

            &:focus {
                text-decoration: underline;
            }
        }
          
        @keyframes button-jump {
            from {
                transform: translateY(-.125rem);
            }

            50% {
                transform: translateY(-.3rem);
            }
          
            to {
              transform: translateY(-.125rem);
            }
        }

        @keyframes text-slide {
            from {
                transform: translateX(-16px);
            }

            to {
                transform: translateX(0);
            }
        }
    }
}