@use '../shadows/shadows' as shadow;

button {
    background: none;

    &.rapid-button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .3rem;
        padding: .750rem 1.2rem;
        background-color: var(--primary-action);
        color: var(--primary-white);
        border-radius: 5px;
        border: none;
        font-size: .750rem;
        transition: transform .3s ease-in-out, 
                    background-color .3s ease-in-out,
                    outline .1s;

        @include shadow.generic(normal);

        &:hover {
            cursor: pointer;
            transform: translateY(-.125rem);
            
            @include shadow.generic(hover);
        }

        &:focus {
            outline: 3px solid rgba(55, 66, 255, .25);
        }

        &:active {
            background-color: var(--primary-action-deep);
        }

        &--simple {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .3rem;
            padding: .750rem .3rem;
            border: none;
            color: var(--primary-action);
            font-size: .750rem;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}