@mixin full-width {
    .rapid-button {
        &__full-width {
            display: flex;
            flex-basis: 100%;
            width: 100%;
            min-width: 0;

            & > button {
                flex-basis: 100%;
                width: 100%;
            }
        }
    }
}