@use './common/index' as common;
@use './theme/index' as theme;
@use './utils/index' as util;
@use './layout/index' as layout;
@use './utils/reset/reset' as reset;
@use './global/index' as global;
@use './modules/index' as modules;

@import "./fontawesome/fontawesome.scss";
@import "./fontawesome/solid.scss";

*, html, body {
    margin: 0;
    padding: 0;
    font-family: 'IBMPlexSans';
    font-style: normal;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html { 
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    position: fixed;
    box-sizing: border-box
}

rapid-hcm-root {
    background-color: var(--light-background-color);
    display: block;
    height: 100vh;
}

// h3 {
//     font-weight: 500;
//     font-size: 1.5rem;
//     margin-top: 2rem;
// }

// h5 {
//     font-weight: 400;
//     font-size: .8rem;
//     color: rgba($color: #000000, $alpha: .5);
//     margin-bottom: 1rem;
// }