@use './common/index' as common;
@use './theme/index' as theme;

*, html, body {
    margin: 0;
    font-family: 'IBMPlexSans';
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}