@use './common/index' as common;
@use './theme/index' as theme;
@use './utils/index' as util;

@import "./fontawesome/fontawesome.scss";
@import "./fontawesome/solid.scss";

*, html, body {
    margin: 0;
    font-family: 'IBMPlexSans';
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

h3 {
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 2rem;
}

h5 {
    font-weight: 400;
    font-size: .8rem;
    color: rgba($color: #000000, $alpha: .5);
    margin-bottom: 1rem;
}