.rapid-sidenav {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "sidenav content";
    grid-template-columns: 20rem 1fr;
    transition: all .3s ease-in-out;

    &--collapsed {
        grid-template-columns: 4rem 1fr;
    }

    &__header {
        width: 100%;
        min-width: fit-content;
        min-height: 4rem;
        padding: 2rem 1.5rem;
        gap: 2rem;
        overflow: hidden;

        &__notification-icon {
            color: var(--primary-white);
        }

        &__title {
            font-size: .88rem;
            color: var(--primary-white);
            font-weight: 500;
            flex: 1;
            white-space: nowrap;
        }

        &__hamburger {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 1rem;
            height: 1rem;

            &:hover {
                cursor: pointer;
            }

            &__line {
                width: 100%;
                height: .15rem;
                background-color: var(--primary-white);
            }

            &::before {
                content: '';
                position: absolute;
                left: 0;
                width: 4rem;
                height: 4rem;
            }
        }
    }

    & nav {
        position: relative;
        overflow: hidden;
        grid-area: sidenav;
        background-color: var(--border-grey-deep);
    }

    &__content {
        grid-area: content;
        background-color: var(--primary-white);
    }
}